<div class="nav__button" data-menu-button>
    <p class="nav__button__title">{{title}}</p>

    <div class="nav__button__select">
        <div class="nav__button__select__line"></div>

         <ul class="nav__button__list">
          <li class="nav__button__item"><a href="{{url}}">fotografias</a></li>
          <li class="nav__button__item"><a href="{{url}}">abstrato</a></li>
          <li class="nav__button__item"><a href="{{url}}">pessoas</a></li>
          <li class="nav__button__item"><a href="{{url}}">{{title}}</a></li>
        </ul>
    </div>
</div>